[Unit]
Description=mev service
After=crossbar.service
Requires=crossbar.service

[Service]
Restart=always
RestartSec=3
EnvironmentFile=/ubuntu/config.env
Environment="LD_LIBRARY_PATH=/ubuntu/venv/lib"
Environment="PYTHONPATH=/usr/local/lib/python3/dist-packages"
ExecStartPre=/ubuntu/bin/clean
ExecStart=/ubuntu/venv/bin/brain_run --config %h/brain.conf --mev-unit=${MEV_NAME}

[Install]
WantedBy=default.target

